<a href="https://colab.research.google.com/github/Denzzo-ov/Simulative-Python-HW-cases/blob/main/%D0%9A%D0%B5%D0%B9%D1%81_%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D0%BA%D0%B8%D0%B5_%D1%81%D0%B5%D1%81%D1%81%D0%B8%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **3 кейс**

**Пользовательские сессии**

**Важно**

Перед началом решения выполните следующую ячейку, чтобы загрузить необходимый для работы файл.

In [ ]:
!wget https://gist.github.com/Vs8th/9fcfa729905072c12b1e535c71565a68/raw/sessions.csv

--2026-01-13 10:06:44--  https://gist.github.com/Vs8th/9fcfa729905072c12b1e535c71565a68/raw/sessions.csv
Resolving gist.github.com (gist.github.com)... 140.82.113.4
Connecting to gist.github.com (gist.github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://gist.githubusercontent.com/Vs8th/9fcfa729905072c12b1e535c71565a68/raw/sessions.csv [following]
--2026-01-13 10:06:44--  https://gist.githubusercontent.com/Vs8th/9fcfa729905072c12b1e535c71565a68/raw/sessions.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1880014 (1.8M) [text/plain]
Saving to: ‘sessions.csv’

sessions.csv        100%[===================>]   1.79M  --.-KB/s    in 0.07s

2026-01-13 10:06:44 (27.4 MB/s) - ‘sessions.csv’ saved [1880014/1880014]

Чтобы посмотреть как он выглядит выполните следующую ячейку.

In [ ]:
import pandas as pd

df = pd.read_csv('sessions.csv')
df

      user_id                                            session
0       user0  ["2023-05-06 20:43:45", 1192, [["page0", "2023...
1       user1  ["2023-05-03 15:39:47", 1642, [["page0", "2023...
2       user1  ["2023-05-16 21:24:30", 506, [["page0", "2023-...
3       user1  ["2023-05-09 01:41:35", 1004, [["page0", "2023...
4       user1  ["2023-05-26 05:31:50", 984, [["page0", "2023-...
...       ...                                                ...
5278  user998  ["2023-05-26 17:33:49", 631, [["page0", "2023-...
5279  user998  ["2023-05-15 23:21:39", 1393, [["page0", "2023...
5280  user998  ["2023-05-16 10:15:48", 1448, [["page0", "2023...
5281  user998  ["2023-05-26 17:06:25", 810, [["page0", "2023-...
5282  user999  ["2023-05-20 08:08:50", 744, [["page0", "2023-...

[5283 rows x 2 columns]

### **Решения**

#### **Задача 1**

Ваша задача написать функцию `get_time_to_conversion`, которая принимает на вход сессии в формате, который вы определили для себя и подсчитывает среднее время между заходом на сайт и целевым действием.

Результат - число типа `float`, округленное до двух знаков после запятой, сохраните в переменную `res`

**Решение**

Напишите свое решение ниже

In [ ]:
import json
from datetime import datetime

In [ ]:
df["session_"] = df["session"].apply(lambda x: json.loads(x))

In [ ]:
df["session_date"] = df["session_"].apply(lambda x: x[0])

In [ ]:
df["session_pages"] = df["session_"].apply(lambda x: x[2])

In [ ]:

def get_time_to_conversion(df):

    times = []

    for s in df["session"]:
        # распакуем куждую строку перевдя ее в формат списка
        start_str, duration, pages = json.loads(s)
        # переведем дату начала сессии в формат datatime
        start_date = datetime.fromisoformat(start_str)

        # список для хранения времени конверсии
        conv_times = []
        # отбираем время конверсии
        for page, ts in pages:
            if page == 'conversion':
                conv_times.append(datetime.fromisoformat(ts))
        # пропуск сессии
        if not conv_times:
            continue

        # ранее целевое действие
        conv_dt = min(conv_times)
        # разница в секундах между заходом и конверсией
        diff_sec = (conv_dt - start_date).total_seconds()
        times.append(diff_sec)

    res = round((sum(times)/len(times)),2)
    return res

res = get_time_to_conversion(df)

In [ ]:
res

467.24

✏️ ✏️ ✏️

**Проверка**

Чтобы проверить свое решение, запустите код в следующих ячейках

In [ ]:
try:
    assert res == 467.24
except AssertionError:
    print('Ответы не совпадают')
else:
    print('Поздравляем, Вы справились!')

Поздравляем, Вы справились!

#### **Задача 2**

Ваша задача написать функцию `get_session_duration`, которая принимает на вход сессии в формате, который вы определили для себя и подсчитывает сколько вообще в среднем длится сессия.

Результат - число типа `float`, округленное до двух знаков после запятой, сохраните в переменную `res2`

**Решение**

Напишите свое решение ниже

In [ ]:

def get_session_duration(df):
    durations = []
    for s in df["session"]:
        # распакуем куждую строку перевдя ее в формат списка
        start_str, duration, pages = json.loads(s)
        durations.append(duration)

    return round((sum(durations)/len(durations)),2)

res2 = get_session_duration(df)

901.35

✏️ ✏️ ✏️

**Проверка**

Чтобы проверить свое решение, запустите код в следующих ячейках

In [ ]:
try:
    assert res2 == 901.35
except AssertionError:
    print('Ответы не совпадают')
else:
    print('Поздравляем, Вы справились!')

Поздравляем, Вы справились!

#### **Задача 3**

Напишите функцию `get_daily_session_count`, которая принимает на вход сессии в формате, который вы определили для себя и подсчитывает cколько разных заходов в течение дня делает пользователь.

Результат - число типа `float`, округленное до двух знаков после запятой, сохраните в переменную `res3`

**Решение**

Напишите свое решение ниже

In [ ]:

def get_daily_session_count(df):
    df2 = df.copy()
    # извлекаем дату первой сессии
    df2['session_start'] = df2['session'].apply(lambda s: datetime.fromisoformat(json.loads(s)[0]))
    # переводим дату в формат date
    df2['session_date'] = df2['session_start'].dt.date
    # группируем по пользователю и дате сессии и считаем их количество
    session_per_day = df2.groupby(['user_id', 'session_date'])['session'].count()
    # возвращаем среднее значение по колчиеству сессий на пользователя за день
    return round(session_per_day.mean(), 2)

res3 = get_daily_session_count(df)

✏️ ✏️ ✏️

**Проверка**

Чтобы проверить свое решение, запустите код в следующих ячейках

In [ ]:
try:
    assert res3 == 1.11
except AssertionError:
    print('Ответы не совпадают')
else:
    print('Поздравляем, Вы справились!')

Поздравляем, Вы справились!

#### **Задача 4**

Напишите функцию `get_average_session_count`, которая принимает на вход сессии в формате, который вы определили для себя и подсчитывает сколько заходов вообще в среднем делает пользователь.

Результат - число типа `float`, округленное до двух знаков после запятой, сохраните в переменную `res4`

**Решение**

Напишите свое решение ниже

In [ ]:

def get_average_session_count(df):
    session_count = df.groupby('user_id')['session'].count()
    return round(session_count.mean(),2)

res4 = get_average_session_count(df)

✏️ ✏️ ✏️

**Проверка**

Чтобы проверить свое решение, запустите код в следующих ячейках

In [ ]:
try:
    assert res4 == 5.28
except AssertionError:
    print('Ответы не совпадают')
else:
    print('Поздравляем, Вы справились!')

Поздравляем, Вы справились!